.standard {
  text-align: justify;
  margin-bottom: 2em;
}

a {
  color: #a9c2b0;
}

a:hover {
  color: #d9c1bd;
}

.footer {
  padding: 2em !important;
}

.fa-heart {
  color: #a50104 !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
  margin-top: 52px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

img {
  max-width: auto;
  max-height: 13em;
  margin-left: auto;
  margin-right: auto;
}

.stuff {
  margin-bottom: 3em;
}

.markdown-body p {
  text-align: justify !important;
}

.fa-circle {
  padding-bottom: 2px;
  font-size: 12px !important;
}